/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* Common CSS */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

/* Banner CSS */
.first-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2D25A0;
    height: 667px;
}
.heading h1{
    font-size: 64px;
    color: white;
    font-weight: bold;
}
.banner-btn{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 8px 25px;
}
.banner-btn:hover {
    transform: rotate(90deg);
    transition: transform 2s;
}
.banner-img img{
    width: 556px;
    height: 438px;
}
/* Player Section CSS */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 95px;

}
.player{
    width: 325px;
    height: 474px;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    padding: 8px;
    box-shadow: 5px 5px 50px grey;
}
.player img{
    width: 325px;
    height: 256px;
}
.player h2{
    font-size: 28px;
    font-weight: bold;
}
/* Optional Banner */
.second-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}
.heading-two h1{
    font-size: 48px;
}
/* Statics Section */
.statics{
    background-color: indianred;
    padding: 50px 0;
}
.statics-all-col{
    display: flex;
    justify-content: space-around;
}
.statics h1{
    text-align: center;
}

/* iframe Section */
.iframe-section{
    padding: 80px 0;
}
.iframe-section h2{
    text-align: center;
    padding-bottom: 25px;
}
.frame-data{
    display: flex;
    justify-content: space-around;
}
/* Footer Section */
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    width: 484px;
    height: 110px;
}
.icons a{
    text-decoration: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    color: #969BAB;
    background-color: grey;
    border-radius: 50%;
    align-items: center;
}
.icons a i{
    text-align: center;
}
.fab{
    margin-left: 7px;
    margin-top: 7px;
}
/* Mediea Query */
/* Iphone X Model */
@media only screen and (max-width:688px) {
    .first-banner{
        flex-direction: column;
        width: 360px;
        height: 695px;
    }
    .heading h1{
    font-size: 36px;
    }
    .banner-img img{
    width: 330px;
    height: 260px;
    }
    .players{
        grid-template-columns: 1fr;
        margin-left: 17px;
    }
    .second-banner{
        flex-direction: column;
        align-items: flex-start;
    }
    .heading-two h1{
    font-size: 30px;
    }
    .statics-all-col{
        flex-direction: column;
        align-items: center;
    }
    .iframe-section h2{
        text-align: left;
        font-size: 25px;
    }
    .frame-data{
        flex-direction: column;
    }
    .data-1 iframe{
        width: 373px;
        margin-bottom: 30px;
    }
    .data-2 iframe{
        width: 373px;
    }
    .footer-section{
        align-items: flex-start;
    }
    .footer-logo img{
    width: 200px;
    height: 80px;
    margin-left: 73px;
    }
    .footer-section .icons{
        margin-left: 110px;
    }
    .icons a i{
        text-align: center;
    }
    .copyright p{
        margin-left: 77px;
    }
}